# Dependencies
node_modules
.pnpm-store

# Next.js build output
.next
out

# TypeScript build output
dist
build

# Environment variables
.env
.env.local
.env.production
*.env

# SQLite database files
*.db
*.db-journal

# IDE & System
.DS_Store
*.log
.vscode
.idea
